In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv(r"C:\Users\Sagar Kandpal\Desktop\ML EXAMPLE\Modular\ML_Live_Class\data\Ames_NO_Missing_Data.csv")
df.head()

,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Lot Shape,Land Contour,Utilities,Lot Config,Land Slope,...,Enclosed Porch,3Ssn Porch,Screen Porch,Pool Area,Misc Val,Mo Sold,Yr Sold,Sale Type,Sale Condition,SalePrice
0,20,RL,141.0,31770,Pave,IR1,Lvl,AllPub,Corner,Gtl,...,0,0,0,0,0,5,2010,WD,Normal,215000
1,20,RH,80.0,11622,Pave,Reg,Lvl,AllPub,Inside,Gtl,...,0,0,120,0,0,6,2010,WD,Normal,105000
2,20,RL,81.0,14267,Pave,IR1,Lvl,AllPub,Corner,Gtl,...,0,0,0,0,12500,6,2010,WD,Normal,172000
3,20,RL,93.0,11160,Pave,Reg,Lvl,AllPub,Corner,Gtl,...,0,0,0,0,0,4,2010,WD,Normal,244000
4,60,RL,74.0,13830,Pave,IR1,Lvl,AllPub,Inside,Gtl,...,0,0,0,0,0,3,2010,WD,Normal,189900

In [3]:
df.isnull().sum()

MS SubClass       0
MS Zoning         0
Lot Frontage      0
Lot Area          0
Street            0
                 ..
Mo Sold           0
Yr Sold           0
Sale Type         0
Sale Condition    0
SalePrice         0
Length: 76, dtype: int64

In [4]:
df['MS SubClass'].dtype

dtype('int64')

In [5]:
df['MS SubClass'] = df['MS SubClass'].apply(str)

In [6]:
df['MS SubClass'].dtype

dtype('O')

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2925 entries, 0 to 2924
Data columns (total 76 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   MS SubClass      2925 non-null   object
 1   MS Zoning        2925 non-null   object
 2   Lot Frontage     2925 non-null   float64
 3   Lot Area         2925 non-null   int64
 4   Street           2925 non-null   object
 5   Lot Shape        2925 non-null   object
 6   Land Contour     2925 non-null   object
 7   Utilities        2925 non-null   object
 8   Lot Config       2925 non-null   object
 9   Land Slope       2925 non-null   object
 10  Neighborhood     2925 non-null   object
 11  Condition 1      2925 non-null   object
 12  Condition 2      2925 non-null   object
 13  Bldg Type        2925 non-null   object
 14  House Style      2925 non-null   object
 15  Overall Qual     2925 non-null   int64
 16  Overall Cond     2925 non-null   int64
 17  Year Built       2925 non-null   int64
 18  Year Remod/Add   2925 non-null   int64
 19  Roof Style       2925 non-null   object
 20  Roof Matl        2925 non-null   object
 21  Exterior 1st     2925 non-null   object
 22  Exterior 2nd     2925 non-null   object
 23  Mas Vnr Type     2925 non-null   object
 24  Mas Vnr Area     2925 non-null   float64
 25  Exter Qual       2925 non-null   object
 26  Exter Cond       2925 non-null   object
 27  Foundation       2925 non-null   object
 28  Bsmt Qual        2925 non-null   object
 29  Bsmt Cond        2925 non-null   object
 30  Bsmt Exposure    2925 non-null   object
 31  BsmtFin Type 1   2925 non-null   object
 32  BsmtFin SF 1     2925 non-null   float64
 33  BsmtFin Type 2   2925 non-null   object
 34  BsmtFin SF 2     2925 non-null   float64
 35  Bsmt Unf SF      2925 non-null   float64
 36  Total Bsmt SF    2925 non-null   float64
 37  Heating          2925 non-null   object
 38  Heating QC       2925 non-null   object
 39  Central Air      2925 non-null   object
 40  Electrical       2925 non-null   object
 41  1st Flr SF       2925 non-null   int64
 42  2nd Flr SF       2925 non-null   int64
 43  Low Qual Fin SF  2925 non-null   int64
 44  Gr Liv Area      2925 non-null   int64
 45  Bsmt Full Bath   2925 non-null   float64
 46  Bsmt Half Bath   2925 non-null   float64
 47  Full Bath        2925 non-null   int64
 48  Half Bath        2925 non-null   int64
 49  Bedroom AbvGr    2925 non-null   int64
 50  Kitchen AbvGr    2925 non-null   int64
 51  Kitchen Qual     2925 non-null   object
 52  TotRms AbvGrd    2925 non-null   int64
 53  Functional       2925 non-null   object
 54  Fireplaces       2925 non-null   int64
 55  Fireplace Qu     2925 non-null   object
 56  Garage Type      2925 non-null   object
 57  Garage Yr Blt    2925 non-null   float64
 58  Garage Finish    2925 non-null   object
 59  Garage Cars      2925 non-null   float64
 60  Garage Area      2925 non-null   float64
 61  Garage Qual      2925 non-null   object
 62  Garage Cond      2925 non-null   object
 63  Paved Drive      2925 non-null   object
 64  Wood Deck SF     2925 non-null   int64
 65  Open Porch SF    2925 non-null   int64
 66  Enclosed Porch   2925 non-null   int64
 67  3Ssn Porch       2925 non-null   int64
 68  Screen Porch     2925 non-null   int64
 69  Pool Area        2925 non-null   int64
 70  Misc Val         2925 non-null   int64
 71  Mo Sold          2925 non-null   int64
 72  Yr Sold          2925 non-null   int64
 73  Sale Type        2925 non-null   object
 74  Sale Condition   2925 non-null   object
 75  SalePrice        2925 non-null   int64
dtypes: float64(11), int64(25), object(40)
memory usage: 1.7+ MB

In [8]:
direction = pd.Series(['Up', 'Up', 'Down'])
direction

0      Up
1      Up
2    Down
dtype: object

In [9]:
pd.get_dummies(direction, drop_first=True)

   Up
0   1
1   1
2   0

In [10]:
my_object_df = df.select_dtypes(include='object') #return all string/ categorical columns
my_object_df

,MS SubClass,MS Zoning,Street,Lot Shape,Land Contour,Utilities,Lot Config,Land Slope,Neighborhood,Condition 1,...,Kitchen Qual,Functional,Fireplace Qu,Garage Type,Garage Finish,Garage Qual,Garage Cond,Paved Drive,Sale Type,Sale Condition
0,20,RL,Pave,IR1,Lvl,AllPub,Corner,Gtl,NAmes,Norm,...,TA,Typ,Gd,Attchd,Fin,TA,TA,P,WD,Normal
1,20,RH,Pave,Reg,Lvl,AllPub,Inside,Gtl,NAmes,Feedr,...,TA,Typ,None,Attchd,Unf,TA,TA,Y,WD,Normal
2,20,RL,Pave,IR1,Lvl,AllPub,Corner,Gtl,NAmes,Norm,...,Gd,Typ,None,Attchd,Unf,TA,TA,Y,WD,Normal
3,20,RL,Pave,Reg,Lvl,AllPub,Corner,Gtl,NAmes,Norm,...,Ex,Typ,TA,Attchd,Fin,TA,TA,Y,WD,Normal
4,60,RL,Pave,IR1,Lvl,AllPub,Inside,Gtl,Gilbert,Norm,...,TA,Typ,TA,Attchd,Fin,TA,TA,Y,WD,Normal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2920,80,RL,Pave,IR1,Lvl,AllPub,CulDSac,Gtl,Mitchel,Norm,...,TA,Typ,None,Detchd,Unf,TA,TA,Y,WD,Normal
2921,20,RL,Pave,IR1,Low,AllPub,Inside,Mod,Mitchel,Norm,...,TA,Typ,None,Attchd,Unf,TA,TA,Y,WD,Normal
2922,85,RL,Pave,Reg,Lvl,AllPub,Inside,Gtl,Mitchel,Norm,...,TA,Typ,None,None,None,None,None,Y,WD,Normal
2923,20,RL,Pave,Reg,Lvl,AllPub,Inside,Mod,Mitchel,Norm,...,TA,Typ,TA,Attchd,RFn,TA,TA,Y,WD,Normal
2924,60,RL,Pave,Reg,Lvl,AllPub,Inside,Mod,Mitchel,Norm,...,TA,Typ,TA,Attchd,Fin,TA,TA,Y,WD,Normal

In [11]:
my_numeric_df = df.select_dtypes(exclude='object') #return all numeric columns
my_numeric_df

,Lot Frontage,Lot Area,Overall Qual,Overall Cond,Year Built,Year Remod/Add,Mas Vnr Area,BsmtFin SF 1,BsmtFin SF 2,Bsmt Unf SF,...,Wood Deck SF,Open Porch SF,Enclosed Porch,3Ssn Porch,Screen Porch,Pool Area,Misc Val,Mo Sold,Yr Sold,SalePrice
0,141.000000,31770,6,5,1960,1960,112.0,639.0,0.0,441.0,...,210,62,0,0,0,0,0,5,2010,215000
1,80.000000,11622,5,6,1961,1961,0.0,468.0,144.0,270.0,...,140,0,0,0,120,0,0,6,2010,105000
2,81.000000,14267,6,6,1958,1958,108.0,923.0,0.0,406.0,...,393,36,0,0,0,0,12500,6,2010,172000
3,93.000000,11160,7,5,1968,1968,0.0,1065.0,0.0,1045.0,...,0,0,0,0,0,0,0,4,2010,244000
4,74.000000,13830,5,5,1997,1998,0.0,791.0,0.0,137.0,...,212,34,0,0,0,0,0,3,2010,189900
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2920,37.000000,7937,6,6,1984,1984,0.0,819.0,0.0,184.0,...,120,0,0,0,0,0,0,3,2006,142500
2921,75.144444,8885,5,5,1983,1983,0.0,301.0,324.0,239.0,...,164,0,0,0,0,0,0,6,2006,131000
2922,62.000000,10441,5,5,1992,1992,0.0,337.0,0.0,575.0,...,80,32,0,0,0,0,700,7,2006,132000
2923,77.000000,10010,5,5,1974,1975,0.0,1071.0,123.0,195.0,...,240,38,0,0,0,0,0,4,2006,170000
2924,74.000000,9627,7,5,1993,1994,94.0,758.0,0.0,238.0,...,190,48,0,0,0,0,0,11,2006,188000

In [12]:
df_object_dummies = pd.get_dummies(my_object_df, drop_first = True) #encoded dataframe
df_object_dummies

,MS SubClass_150,MS SubClass_160,MS SubClass_180,MS SubClass_190,MS SubClass_20,MS SubClass_30,MS SubClass_40,MS SubClass_45,MS SubClass_50,MS SubClass_60,...,Sale Type_ConLw,Sale Type_New,Sale Type_Oth,Sale Type_VWD,Sale Type_WD,Sale Condition_AdjLand,Sale Condition_Alloca,Sale Condition_Family,Sale Condition_Normal,Sale Condition_Partial
0,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
1,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
2,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
3,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
4,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2920,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
2921,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
2922,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
2923,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
2924,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,1,0,0,0,1,0

In [13]:
final_df = pd.concat([my_numeric_df, df_object_dummies], axis=1)
final_df

,Lot Frontage,Lot Area,Overall Qual,Overall Cond,Year Built,Year Remod/Add,Mas Vnr Area,BsmtFin SF 1,BsmtFin SF 2,Bsmt Unf SF,...,Sale Type_ConLw,Sale Type_New,Sale Type_Oth,Sale Type_VWD,Sale Type_WD,Sale Condition_AdjLand,Sale Condition_Alloca,Sale Condition_Family,Sale Condition_Normal,Sale Condition_Partial
0,141.000000,31770,6,5,1960,1960,112.0,639.0,0.0,441.0,...,0,0,0,0,1,0,0,0,1,0
1,80.000000,11622,5,6,1961,1961,0.0,468.0,144.0,270.0,...,0,0,0,0,1,0,0,0,1,0
2,81.000000,14267,6,6,1958,1958,108.0,923.0,0.0,406.0,...,0,0,0,0,1,0,0,0,1,0
3,93.000000,11160,7,5,1968,1968,0.0,1065.0,0.0,1045.0,...,0,0,0,0,1,0,0,0,1,0
4,74.000000,13830,5,5,1997,1998,0.0,791.0,0.0,137.0,...,0,0,0,0,1,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2920,37.000000,7937,6,6,1984,1984,0.0,819.0,0.0,184.0,...,0,0,0,0,1,0,0,0,1,0
2921,75.144444,8885,5,5,1983,1983,0.0,301.0,324.0,239.0,...,0,0,0,0,1,0,0,0,1,0
2922,62.000000,10441,5,5,1992,1992,0.0,337.0,0.0,575.0,...,0,0,0,0,1,0,0,0,1,0
2923,77.000000,10010,5,5,1974,1975,0.0,1071.0,123.0,195.0,...,0,0,0,0,1,0,0,0,1,0
2924,74.000000,9627,7,5,1993,1994,94.0,758.0,0.0,238.0,...,0,0,0,0,1,0,0,0,1,0

In [27]:
X =final_df.drop('SalePrice', axis=1)
X.head()

,Lot Frontage,Lot Area,Overall Qual,Overall Cond,Year Built,Year Remod/Add,Mas Vnr Area,BsmtFin SF 1,BsmtFin SF 2,Bsmt Unf SF,...,Sale Type_ConLw,Sale Type_New,Sale Type_Oth,Sale Type_VWD,Sale Type_WD,Sale Condition_AdjLand,Sale Condition_Alloca,Sale Condition_Family,Sale Condition_Normal,Sale Condition_Partial
0,141.0,31770,6,5,1960,1960,112.0,639.0,0.0,441.0,...,0,0,0,0,1,0,0,0,1,0
1,80.0,11622,5,6,1961,1961,0.0,468.0,144.0,270.0,...,0,0,0,0,1,0,0,0,1,0
2,81.0,14267,6,6,1958,1958,108.0,923.0,0.0,406.0,...,0,0,0,0,1,0,0,0,1,0
3,93.0,11160,7,5,1968,1968,0.0,1065.0,0.0,1045.0,...,0,0,0,0,1,0,0,0,1,0
4,74.0,13830,5,5,1997,1998,0.0,791.0,0.0,137.0,...,0,0,0,0,1,0,0,0,1,0

In [29]:
y =final_df['SalePrice']

In [28]:
from sklearn.model_selection import train_test_split

In [30]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1, random_state=101)

In [31]:
from sklearn.preprocessing import StandardScaler

In [32]:
scaler = StandardScaler()

In [33]:
scaled_X_train = scaler.fit_transform(X_train)

In [34]:
scaled_X_test = scaler.transform(X_test)

In [35]:
from sklearn.linear_model import ElasticNet

In [41]:
base_elastic_model = ElasticNet(max_iter = 20000000)

In [42]:
param_grid = {'alpha': [0.1,1,5,10,100], 'l1_ratio':[0.1, 0.5, 0.7, 0.9, 1]}

In [44]:
from sklearn.model_selection import GridSearchCV

In [45]:
grid_model = GridSearchCV(estimator = base_elastic_model, param_grid = param_grid, scoring='neg_mean_squared_error', cv=5, verbose=2)

In [46]:
grid_model.fit(scaled_X_train, y_train)

Fitting 5 folds for each of 25 candidates, totalling 125 fits
[CV] END ............................alpha=0.1, l1_ratio=0.1; total time=   0.2s
[CV] END ............................alpha=0.1, l1_ratio=0.1; total time=   0.1s
[CV] END ............................alpha=0.1, l1_ratio=0.1; total time=   0.2s
[CV] END ............................alpha=0.1, l1_ratio=0.1; total time=   0.2s
[CV] END ............................alpha=0.1, l1_ratio=0.1; total time=   0.2s
[CV] END ............................alpha=0.1, l1_ratio=0.5; total time=   0.3s
[CV] END ............................alpha=0.1, l1_ratio=0.5; total time=   0.3s
[CV] END ............................alpha=0.1, l1_ratio=0.5; total time=   0.2s
[CV] END ............................alpha=0.1, l1_ratio=0.5; total time=   0.3s
[CV] END ............................alpha=0.1, l1_ratio=0.5; total time=   0.3s
[CV] END ............................alpha=0.1, l1_ratio=0.7; total time=   0.3s
[CV] END ............................alpha=0.1, l1_ratio=0.7; total time=   0.4s
[CV] END ............................alpha=0.1, l1_ratio=0.7; total time=   0.3s
[CV] END ............................alpha=0.1, l1_ratio=0.7; total time=   0.3s
[CV] END ............................alpha=0.1, l1_ratio=0.7; total time=   0.3s
[CV] END ............................alpha=0.1, l1_ratio=0.9; total time=   1.2s
[CV] END ............................alpha=0.1, l1_ratio=0.9; total time=   1.3s
[CV] END ............................alpha=0.1, l1_ratio=0.9; total time=   0.9s
[CV] END ............................alpha=0.1, l1_ratio=0.9; total time=   0.8s
[CV] END ............................alpha=0.1, l1_ratio=0.9; total time=   1.0s
[CV] END ..............................alpha=0.1, l1_ratio=1; total time= 1.2min
[CV] END ..............................alpha=0.1, l1_ratio=1; total time= 1.5min
[CV] END ..............................alpha=0.1, l1_ratio=1; total time=  60.0s
[CV] END ..............................alpha=0.1, l1_ratio=1; total time= 1.2min
[CV] END ..............................alpha=0.1, l1_ratio=1; total time=  11.6s
[CV] END ..............................alpha=1, l1_ratio=0.1; total time=   0.0s
[CV] END ..............................alpha=1, l1_ratio=0.1; total time=   0.0s
[CV] END ..............................alpha=1, l1_ratio=0.1; total time=   0.0s
[CV] END ..............................alpha=1, l1_ratio=0.1; total time=   0.0s
[CV] END ..............................alpha=1, l1_ratio=0.1; total time=   0.0s
[CV] END ..............................alpha=1, l1_ratio=0.5; total time=   0.0s
[CV] END ..............................alpha=1, l1_ratio=0.5; total time=   0.0s
[CV] END ..............................alpha=1, l1_ratio=0.5; total time=   0.1s
[CV] END ..............................alpha=1, l1_ratio=0.5; total time=   0.1s
[CV] END ..............................alpha=1, l1_ratio=0.5; total time=   0.1s
[CV] END ..............................alpha=1, l1_ratio=0.7; total time=   0.1s
[CV] END ..............................alpha=1, l1_ratio=0.7; total time=   0.1s
[CV] END ..............................alpha=1, l1_ratio=0.7; total time=   0.0s
[CV] END ..............................alpha=1, l1_ratio=0.7; total time=   0.0s
[CV] END ..............................alpha=1, l1_ratio=0.7; total time=   0.0s
[CV] END ..............................alpha=1, l1_ratio=0.9; total time=   0.2s
[CV] END ..............................alpha=1, l1_ratio=0.9; total time=   0.2s
[CV] END ..............................alpha=1, l1_ratio=0.9; total time=   0.1s
[CV] END ..............................alpha=1, l1_ratio=0.9; total time=   0.2s
[CV] END ..............................alpha=1, l1_ratio=0.9; total time=   0.1s
[CV] END ................................alpha=1, l1_ratio=1; total time=   9.4s
[CV] END ................................alpha=1, l1_ratio=1; total time=  10.5s
[CV] END ................................alpha=1, l1_ratio=1; total time=   8.9s
[CV] END ................................alpha=1, l1_ratio=1; total time=   8.0s
[CV] END ................................alpha=1, l1_ratio=1; total time=   6.5s
[CV] END ..............................alpha=5, l1_ratio=0.1; total time=   0.0s
[CV] END ..............................alpha=5, l1_ratio=0.1; total time=   0.0s
[CV] END ..............................alpha=5, l1_ratio=0.1; total time=   0.0s
[CV] END ..............................alpha=5, l1_ratio=0.1; total time=   0.0s
[CV] END ..............................alpha=5, l1_ratio=0.1; total time=   0.0s
[CV] END ..............................alpha=5, l1_ratio=0.5; total time=   0.0s
[CV] END ..............................alpha=5, l1_ratio=0.5; total time=   0.0s
[CV] END ..............................alpha=5, l1_ratio=0.5; total time=   0.0s
[CV] END ..............................alpha=5, l1_ratio=0.5; total time=   0.0s
[CV] END ..............................alpha=5, l1_ratio=0.5; total time=   0.0s
[CV] END ..............................alpha=5, l1_ratio=0.7; total time=   0.0s
[CV] END ..............................alpha=5, l1_ratio=0.7; total time=   0.0s
[CV] END ..............................alpha=5, l1_ratio=0.7; total time=   0.0s
[CV] END ..............................alpha=5, l1_ratio=0.7; total time=   0.0s
[CV] END ..............................alpha=5, l1_ratio=0.7; total time=   0.0s
[CV] END ..............................alpha=5, l1_ratio=0.9; total time=   0.0s
[CV] END ..............................alpha=5, l1_ratio=0.9; total time=   0.0s
[CV] END ..............................alpha=5, l1_ratio=0.9; total time=   0.0s
[CV] END ..............................alpha=5, l1_ratio=0.9; total time=   0.0s
[CV] END ..............................alpha=5, l1_ratio=0.9; total time=   0.0s
[CV] END ................................alpha=5, l1_ratio=1; total time=   3.8s
[CV] END ................................alpha=5, l1_ratio=1; total time=   1.9s
[CV] END ................................alpha=5, l1_ratio=1; total time=   7.1s
[CV] END ................................alpha=5, l1_ratio=1; total time=   3.4s
[CV] END ................................alpha=5, l1_ratio=1; total time=   4.3s
[CV] END .............................alpha=10, l1_ratio=0.1; total time=   0.0s
[CV] END .............................alpha=10, l1_ratio=0.1; total time=   0.0s
[CV] END .............................alpha=10, l1_ratio=0.1; total time=   0.0s
[CV] END .............................alpha=10, l1_ratio=0.1; total time=   0.0s
[CV] END .............................alpha=10, l1_ratio=0.1; total time=   0.0s
[CV] END .............................alpha=10, l1_ratio=0.5; total time=   0.0s
[CV] END .............................alpha=10, l1_ratio=0.5; total time=   0.0s
[CV] END .............................alpha=10, l1_ratio=0.5; total time=   0.0s
[CV] END .............................alpha=10, l1_ratio=0.5; total time=   0.0s
[CV] END .............................alpha=10, l1_ratio=0.5; total time=   0.0s
[CV] END .............................alpha=10, l1_ratio=0.7; total time=   0.0s
[CV] END .............................alpha=10, l1_ratio=0.7; total time=   0.0s
[CV] END .............................alpha=10, l1_ratio=0.7; total time=   0.0s
[CV] END .............................alpha=10, l1_ratio=0.7; total time=   0.0s
[CV] END .............................alpha=10, l1_ratio=0.7; total time=   0.0s
[CV] END .............................alpha=10, l1_ratio=0.9; total time=   0.0s
[CV] END .............................alpha=10, l1_ratio=0.9; total time=   0.0s
[CV] END .............................alpha=10, l1_ratio=0.9; total time=   0.0s
[CV] END .............................alpha=10, l1_ratio=0.9; total time=   0.0s
[CV] END .............................alpha=10, l1_ratio=0.9; total time=   0.0s
[CV] END ...............................alpha=10, l1_ratio=1; total time=   1.8s
[CV] END ...............................alpha=10, l1_ratio=1; total time=   1.9s
[CV] END ...............................alpha=10, l1_ratio=1; total time=   2.0s
[CV] END ...............................alpha=10, l1_ratio=1; total time=   1.5s
[CV] END ...............................alpha=10, l1_ratio=1; total time=   1.7s
[CV] END ............................alpha=100, l1_ratio=0.1; total time=   0.0s
[CV] END ............................alpha=100, l1_ratio=0.1; total time=   0.0s
[CV] END ............................alpha=100, l1_ratio=0.1; total time=   0.0s
[CV] END ............................alpha=100, l1_ratio=0.1; total time=   0.0s
[CV] END ............................alpha=100, l1_ratio=0.1; total time=   0.0s
[CV] END ............................alpha=100, l1_ratio=0.5; total time=   0.0s
[CV] END ............................alpha=100, l1_ratio=0.5; total time=   0.0s
[CV] END ............................alpha=100, l1_ratio=0.5; total time=   0.0s
[CV] END ............................alpha=100, l1_ratio=0.5; total time=   0.0s
[CV] END ............................alpha=100, l1_ratio=0.5; total time=   0.0s
[CV] END ............................alpha=100, l1_ratio=0.7; total time=   0.0s
[CV] END ............................alpha=100, l1_ratio=0.7; total time=   0.0s
[CV] END ............................alpha=100, l1_ratio=0.7; total time=   0.0s
[CV] END ............................alpha=100, l1_ratio=0.7; total time=   0.0s
[CV] END ............................alpha=100, l1_ratio=0.7; total time=   0.0s
[CV] END ............................alpha=100, l1_ratio=0.9; total time=   0.0s
[CV] END ............................alpha=100, l1_ratio=0.9; total time=   0.0s
[CV] END ............................alpha=100, l1_ratio=0.9; total time=   0.0s
[CV] END ............................alpha=100, l1_ratio=0.9; total time=   0.0s
[CV] END ............................alpha=100, l1_ratio=0.9; total time=   0.0s
[CV] END ..............................alpha=100, l1_ratio=1; total time=   0.2s
[CV] END ..............................alpha=100, l1_ratio=1; total time=   0.1s
[CV] END ..............................alpha=100, l1_ratio=1; total time=   0.1s
[CV] END ..............................alpha=100, l1_ratio=1; total time=   0.1s
[CV] END ..............................alpha=100, l1_ratio=1; total time=   0.1s

GridSearchCV(cv=5, estimator=ElasticNet(max_iter=20000000),
             param_grid={'alpha': [0.1, 1, 5, 10, 100],
                         'l1_ratio': [0.1, 0.5, 0.7, 0.9, 1]},
             scoring='neg_mean_squared_error', verbose=2)

In [47]:
grid_model.best_params_

{'alpha': 100, 'l1_ratio': 1}

In [48]:
y_pred = grid_model.predict(scaled_X_test)

In [49]:
from sklearn.metrics import mean_absolute_error, mean_squared_error

In [50]:
MAE = np.sqrt(mean_squared_error(y_test, y_pred))
MAE

21305.768675822907

In [51]:
RMSE = np.sqrt(mean_squared_error(y_test, y_pred))
RMSE

21305.768675822907

In [52]:
np.mean(df['SalePrice'])

180815.53743589742

In [ ]:
#Try to reduce this error to 5-7%